body {
      text-align: center;

}

button {
      font-size: 30px;
      padding: 15px;
      margin: 30px 30px;
      border: 5px solid black;
      cursor: pointer;
}

button:hover {
      background-color: aquamarine;
}

#messages {
      font-size: 20px;
      margin-top: 50px;
      line-height: 2.5;
}